
<body>
  <div id="animation" class="animation">
    <div style="display: flex;">
      <h1 id="red" style="color: #EE4747;">R</h1>
      &nbsp; &nbsp;
      <h1 id="yellow" style="color: #FFC848;">D</h1>
      &nbsp; &nbsp;
      <h1 id="green" style="color: #1EC4B4;">S</h1>
    </div>
    <svg width="282px" height="82px" viewBox="0 0 282 82" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Group">
                <circle id="red" fill="#EE4747" cx="41" cy="41" r="41"></circle>
                <circle id="yellow" fill="#FFC848" cx="141" cy="41" r="41"></circle>
                <circle id="green" fill="#1EC4B4" cx="241" cy="41" r="41"></circle>
            </g>
        </g>
    </svg>
  </div>

  <div class="balance">
    <h1 class="white size-xxl" style="color: #EE4747;">
      คงเหลือ 355 ซอง
    </h1>
    <h2 class="white size-xl" style="color: #FFC848;">
      จำนวนซองที่เปิด 10 ซอง
    </h2>
    <h2 class="white size-l" style="color: #1EC4B4;">
      ยอดสะสม 4000 บาท
     </h2>
  </div>
  

</body>

<div class="mail-box" *ngIf="!state">
<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16" (click)="random()">
  <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
  
</svg>
</div>
<div class="value" *ngIf="state">
  <p class="size-xl">{{value}} บาท</p>
</div>
<div class="mail-box-open" *ngIf="state">
  <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-envelope-open-fill" viewBox="0 0 16 16" (click)="close()">
    <path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.313l6.709 3.933L8 8.928l1.291.717L16 5.715V5.4a2 2 0 0 0-1.059-1.765l-6-3.2zM16 6.873l-5.693 3.337L16 13.372v-6.5zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516zM0 13.373l5.693-3.163L0 6.873v6.5z"/>
  </svg>
</div>
<div class="button" *ngIf="!state">
  <p class="size-xl">คลิกที่ซองจดหมายเพื่อสุ่มหมายเลข</p>
</div>

<div class="button" *ngIf="state">
  <p class="size-xl">คลิกที่ซองจดหมายเพื่อปิดซอง</p>
</div>








