html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    padding: 5%;
    background-color: #222;
  }
  .animation {
    justify-content: right;
    align-items: center;
  }
  .balance {
    margin-left: auto;
    margin-right: 0;
    justify-content: left;
    align-items: center;
  }
  .white {
      color: #ffffff;
  }
  .size-xxl {
    font-size: xxx-large;
  }
  .mail-box {
    padding: 0;
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
  }
  .mail-box-open {
    padding: 0;
    display: flex;
    margin-top: 1%;
    justify-content: center;
    align-items: center;
  }
  .value {
    padding: 0;
    display: flex;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
  }

  .size-xl {
    font-size: xx-large;
  }

  .size-l {
    font-size: x-large;
  }
  .button {
    padding: 0;
    display: flex;
    margin-top: 1%;
    justify-content: center;
    align-items: center;
  }
  
  
  @keyframes flicker {
    0% {
      opacity: 0;
    } 100% {
      opacity: 1;
    }
  }
  
  #red {
    animation: flicker 1s ease alternate infinite;
  }

  #yellow {
    animation: flicker 1.1s ease alternate infinite;
  }

  #green {
    animation: flicker 1.2s ease alternate infinite;
  }
  
  
  @element '#animation' {
    #red {
        animation-duration: eval('rand')s;
    }
    #yellow {
        animation-duration: eval('rand')s;
    }
    #green {
        animation-duration: eval('rand')s;
    }
  }